---
import { Image } from "astro:assets";
import BasePage from "../layout/BasePage.astro";
import ichika from "../../public/images/ichika.png";
---

<BasePage>
	<script>
		import "@material/web/button/outlined-button";
	</script>
	<div class="flex flex-col justify-center items-center text-center h-screen">
		<Image class="ichika" loading="eager" src={ichika} alt="" />
		<h1 class="text-5xl font-display mb-2">oops ?</h1>
		<p>how did we get here ?</p>
		<p class="text-[var(--md-sys-color-on-surface-variant)] text-sm">
			yes this is a 404 error
		</p>
		<md-outlined-button href="/" class="px-4 mt-2"
			>Return to safety</md-outlined-button
		>
	</div>
</BasePage>
