---
import BasePage from "../layout/BasePage.astro";
import Container from "../layout/Container.astro";
import Box from "../components/Box.astro";
import Homebar from "../components/Homebar.astro";
---

<BasePage>
	<Container>
		<Homebar>
			<div slot="greeting">
				<p>hi</p>
				<p>i'm samuel</p>
			</div>
		</Homebar>
		<Box>
			<h1 class="font-display text-4xl">Introduction</h1>
			<p>
				i'm a student in computer science likes to play around with low level
				systems, and has interests in art and music.
			</p>
			<b>things i like :</b>
			<ul class="list-disc list-inside">
				<li>programming stuff (really, any kind of stuff)</li>
				<li>drawing (digital & traditional)</li>
				<li>listening and playing music (guitar & piano)</li>
			</ul>
		</Box>
	</Container>
</BasePage>
